<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="openhardwaretest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <openhardwaretest.Properties.Settings>
            <setting name="lightmode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox18" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combobox19" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lightdisp" serializeAs="String">
                <value>5</value>
            </setting>
        </openhardwaretest.Properties.Settings>
    </userSettings>
</configuration>